<!--<form>
  <fieldset>
    <legend>Register below to create or access your favorites</legend>
    <div class="form-label style="width: 18rem;"" style="width: 18rem;">-->
<!--<label for="email" class="form-label mt-4">Email address</label>-->
<!--<input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
  <small id="emailHelp" class="form-text text-muted">RestaurantAGoGo will never share your data</small>
</div>
<div class="form-group centertheform" style="width: 18rem;">-->
<!--<label for="password" class="form-label mt-4">Password</label>-->
<!--<input type="password" class="form-control" id="password" placeholder="Enter password">
</div>
<div class="form-group centertheform" style="width: 18rem;">-->
<!--<label for="zipCode" class="form-label mt-4">ZipCode</label>-->
<!--<input type="text" class="form-control" id="zipCode" placeholder="Enter Zip code">
    </div>
    <div class="d-grid gap-2 form-group centertheform">
      <button class="btn btn-lg btn-primary" type="button">Register</button>
    </div>
  </fieldset>

  <hr />
</form>-->


<div class="col-md-12 centertheform" style="width: 25rem;">
  <div class="card card-container">
    <form *ngIf="!isSuccessful"
          name="form"
          (ngSubmit)="f.form.valid && onSubmit(f)"
          #f="ngForm"
          novalidate>
      <div class="form-group">
        <input type="text"
               class="form-control"
               name="username"
               [(ngModel)]="form.username"
               required
               minlength="3"
               maxlength="20"
               #username="ngModel"
               placeholder="Create a username" />
        <div class="alert-danger" *ngIf="username.errors && f.submitted">
          <div *ngIf="username.errors.required">Username is required</div>
          <div *ngIf="username.errors.minlength">
            Username must be at least 5 characters
          </div>
          <div *ngIf="username.errors.maxlength">
            Username must be at most 20 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <input type="password"
               class="form-control"
               name="password"
               [(ngModel)]="form.password"
               required
               minlength="6"
               #password="ngModel"
               placeholder="Create a password" />
        <div class="alert-danger" *ngIf="password.errors && f.submitted">
          <div *ngIf="password.errors.required">Password is required</div>
          <div *ngIf="password.errors.minlength">
            Password must be at least 6 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block">Register</button>
      </div>
      <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
        Signup failed!<br />{{ errorMessage }}
      </div>
    </form>
    <div class="alert alert-success" *ngIf="isSuccessful">
      Your registration is successful!
    </div>
  </div>
</div>
