
<!--<body>
  <app-nav-menu></app-nav-menu>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</body>-->

<style>
  .card {
    /*This is to position the card below right smack to the middle of the viewport*/
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    margin-top: 25px; /* Added */
  }
</style>

<body>
  <div class="card text-white bg-info mb-3" style="max-width: 50rem;">
    <div class="card-header"><app-nav-menu></app-nav-menu></div>
    <div class="card-body">
      <h4 class="card-title">Welcome to AGoGo Restaurant!</h4>
      <router-outlet></router-outlet>
    </div>
  </div>
</body>



